---
permalink: "/sitemap.xml"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- set base = "https://" + site.domaine -%}
{%- for page in collections.all %}
{%- if page.url %}
  <url>
    <loc>{{ base }}{{ page.url }}</loc>
    <changefreq>weekly</changefreq>
  </url>
{%- endif %}
{%- endfor %}
</urlset>
